$box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65);
$button-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.65);
$primary-color: purple;

.addStudent {
  width: 25%;
  background-color: white;
  box-shadow: $box-shadow;
  margin: 50px auto;
  border-radius: 5px;
  padding: 50px;

  .adddetails {
    & .inputGroup {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1px;

      & label {
        margin-bottom: 5px;
      }

      & input {
        margin-bottom: 10px;
        padding: 10px;
        outline: none;
      }

      & button {
        border: 0;
        outline: none;
        background-color: $primary-color;
        color: white;
        font-weight: 600;
        padding: 15px;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: $button-box-shadow;
        margin-top: 20px;
      }
    }

    & h3 {
      margin-top: 10px;
    }
  }
}
